<input type="file"
       #fileInput
       style="display: none"
       (change)="onFilesAdded()"
       multiple/>
<div class="container" fxLayout="column" fxLayoutAlign="space-evenly stretch">
  <h1 mat-dialog-title><b>Select one or more files to upload (max 20 MBytes per file)</b></h1>
  <div>
    <button
      [disabled]="uploadingStatus || uploadSuccessful"
      mat-raised-button
      color="primary"
      class="add-files-btn"
      (click)="addFiles()">
      Select Files
    </button>
  </div>

  <mat-dialog-content fxFlex>
    <mat-list>
      <mat-list-item *ngFor="let file of files">
        <h4 mat-line>{{file.name}}</h4>
        <mat-progress-bar
          *ngIf="progressIndicator"
          mode="determinate"
          [value]="progressIndicator[file.name].progress | async">
        </mat-progress-bar>
      </mat-list-item>
    </mat-list>
  </mat-dialog-content>

  <mat-dialog-actions class="actions">
    <button *ngIf="showCancelButton" mat-button mat-dialog-close>Cancel</button>
    <button
      mat-raised-button
      color="primary"
      [disabled]="uploadButtonSelector()"
      (click)="closeDialog()">
      {{primaryButtonText}}
    </button>
  </mat-dialog-actions>
</div>
