<input type="file"
       #fileInput
       style="display: none"
       (change)="onFilesAdded()"
       multiple/>
<div class="container" fxLayout="column" fxLayoutAlign="space-evenly stretch">
  <h1 mat-dialog-title><b>Select one or more files (max 20 MBytes per file)</b></h1>
  <div>
    <button
      [disabled]="uploadingStatus || uploadSuccessful"
      mat-raised-button
      color="primary"
      class="add-files-btn"
      (click)="addFiles()">
      Select Files
    </button>
  </div>

  <mat-dialog-content fxFlex>
    <mat-list>
      <mat-list-item *ngFor="let file of files">
        <div *ngIf="file.size > 20000000; else elseBlock">
          <h4 matLine style="color: crimson">{{file.name}}
            <mat-icon style="padding-right: 10px;">error</mat-icon>
          </h4>
        </div>
        <ng-template #elseBlock>
          <h4 mat-line style="color: darkslateblue">{{file.name}} (TOO BIG)
            <mat-icon style="padding-right: 10px;">check_circle</mat-icon>
          </h4>
        </ng-template>
        <mat-progress-bar
          *ngIf="progressIndicator"
          mode="determinate"
          [value]="progressIndicator[file.name].progress | async">
        </mat-progress-bar>
      </mat-list-item>
    </mat-list>
  </mat-dialog-content>

  <mat-dialog-actions class="actions">
    <button *ngIf="showCancelButton" mat-button mat-dialog-close>Cancel</button>
    <button
      mat-raised-button
      color="primary"
      [disabled]="permitClickUploadButton()"
      (click)="closeDialog()">
      {{primaryButtonText}}
    </button>
  </mat-dialog-actions>
</div>
